RewriteEngine On

# -------------------------------------------------
# Force HTTPS
# -------------------------------------------------
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# -------------------------------------------------
# Redirect /index.html to /
# -------------------------------------------------
RewriteCond %{THE_REQUEST} \s/+index\.html[\s?] [NC]
RewriteRule ^index\.html$ / [R=301,L]

# -------------------------------------------------
# Default index file
# -------------------------------------------------
DirectoryIndex index.html

# -------------------------------------------------
# Security Headers
# -------------------------------------------------
<IfModule mod_headers.c>

    # Upgrade insecure requests
    Header always set Content-Security-Policy "upgrade-insecure-requests;"

    # Prevent indexing of assets folder
    SetEnvIf Request_URI "^/assets/" noindex_assets

    Header always set X-Robots-Tag "noindex, nofollow" env=noindex_assets

</IfModule>