@import url("margins.css");
@import url("reset.css");
@import url("assets.css");

/*------------------------ 1 Body and Core Css ------------------------*/   

body{
  /*font-family: 'Gilroy';*/
  background: #000;
   font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body.darkness{
  background: #fff;
}

/* IE9+ selection support */
::selection{
  background-color:#000;
  color: #fff;
}
::-moz-selection{
  background-color:#000;
  color: #fff;
}

#particles-js, div#code-js {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: .85;
  filter: alpha(opacity=85); /* IE8 fallback */
  z-index: 6;
  height: 100%;
  background-color: rgb(0 0 0 / 30%);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}

.hero.home-banner div#code-js{
	min-height: 100vh; /* IE9+ */
	min-height: 100vw\9; /* IE8 fallback */
	background-color: rgb(0 0 0 / 20%);
}

#particles-js canvas, div#code-js canvas{
	display: block;
}

/* IE9+ selection support */
.darkness ::selection{
  background-color:#fff;
  color: #000;
}
.darkness ::-moz-selection{
  background-color:#fff;
  color: #000;
}

p{
  line-height: 30px;
    font-size: 18px;
}

h1, h2{
	font-family: 'Gilroy';
}

h3{
  font-size:30px;
  line-height: 36px;
  margin-left:-1px;
}

h4{
  font-size:24px;
  line-height: 30px;
  margin-left:-1px;	
  font-weight: 700;
}

h5{
  font-size:18px;
  line-height: 24px;
  margin-left:-1px;
}

h6{
  font-size:14px;
  line-height: 18px;
}

.darkness h4{
  color:#fff;
}

.slider-images{
  height: 100vh;
}

.vegas-timer{
  display: none;
}

.my-sign {
    max-height: 100px;
    width: 100%;
    object-fit: contain;
    padding: 15px;
	filter: invert(1);
	object-position: left;
}

.site-btn {
	color: #fff;
	padding: 13px 65px 13px 28px;
	text-align: center;
	position: relative;
	overflow: hidden;
	min-width: 164px;
    /* Flexbox with IE10+ fallbacks */
    display: -ms-inline-flexbox; /* IE10 */
    display: -webkit-inline-flex; /* Safari */
    display: inline-flex;
    -ms-flex-align: center; /* IE10 */
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: justify; /* IE10 */
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background: #3F51B5;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
    cursor: pointer;
    transition: background 0.5s;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
	font-weight: 600;
}

.site-btn::after {
    content: '→';
    display: inline-block;
    width: 43px;
    height: 43px;
    background-color: #000000;
    border-radius: 85px;
    text-align: center;
    line-height: 20px;
    color: #FFFFFF !important;
    margin-left: 10px;
    align-items: center;
    align-content: center;
    position: absolute;
    right: 3px;
	font-family: 'Gilroy';
    font-weight: 600;
    font-size: 20px;
	top: 2px;
}

.site-btn:hover {
    background: black;
	color: white !important;
}

.site-btn:focus{
  outline: 0;
}

.site-btn-black {
	background: black;
}
.site-btn-black::after {
	background: #ffffff;
    color: black !important;
}

.site-btn-white {
	background: white;
	color: black;
}
.site-btn-white::after {
	background: #000;
    color: #fff !important;
}


li{
  list-style: none;
}

figure{
  margin: 0;
}

header{
  position: absolute;
  top: 0;
  padding: 10px 45px;
  width: 100%;
}

.white .header.whitev{
  visibility: hidden;
}

header.black{
  position: fixed;
  z-index: 3;
  opacity: 1;
  transform: translateY(-130%);
  -webkit-transform: translateY(-130%);
  -moz-transform: translateY(-130%);
  -ms-transform: translateY(-130%);
  -o-transform: translateY(-130%);
}


.white header.black{
  position: fixed;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transition: all ease 0.3s 0.3s;
  -webkit-transition: all ease 0.3s 0.3s;
  -moz-transition: all ease 0.3s 0.3s;
  -ms-transition: all ease 0.3s 0.3s;
  -o-transition: all ease 0.3s 0.3s;
      background: rgb(255 255 255 / 0%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 0;
}

header.black .logo img{
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
	height: 60px;
    width: 60px;
	border-radius: 100px;
}

header.whitev{
  z-index: 3;
}

.hero{
  width: 100%;
  z-index: 2;
  position: relative;
  top: 0;
  align-content: center;
  padding-top: 100px;
}

.hero.home-banner{
	min-height: 100vh;
}

.hero-content{
  z-index: 2;
  position: relative;
  color: white;
}

.hero-content span.little{
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
  display: inline-block;
}

.darkness .hero-content span.little{
  color:#000;
}

.hero .down-arrow{
  fill:#fff;
  margin:45px 0 0 15px;
  cursor: pointer;
}

.white .hero{
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  background: url(background-image.jpg);
    background-size: cover;
    background-position: center;
}

.white .down-arrow {
  fill: #000;
}


.darkness.white .down-arrow {
  fill: #fff;
}

.social{
  position: fixed;
  right: 50px;
  top: 110px;
  z-index: 3;
}

.social ul li {
  text-align: center;
}

.social ul li a{
  color:#000;
  font-size: 30px;
  line-height: 45px;
}

.social ul li a:hover{
	color: #3F51B5;
}

.social ul li, .portfolio_filter ul>li{
  opacity: 0;
  transform: translateX(30px);
  -webkit-transform: translateX(30px);
  -moz-transform: translateX(30px);
  -ms-transform: translateX(30px);
  -o-transform: translateX(30px);
}

.white .social ul li, .white .portfolio_filter ul>li{
  opacity: 1;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}


.white .social ul li:nth-child(1), .white .portfolio_filter ul>li:nth-child(1){
  opacity: 1;
  transition-delay: .5s;
  -webkit-transition-delay: .5s;
  -moz-transition-delay: .5s;
  -ms-transition-delay: .5s;
  -o-transition-delay: .5s;
}

.white .social ul li:nth-child(2), .white .portfolio_filter ul>li:nth-child(2){
  opacity: 1;
  transition-delay: .6s;
  -webkit-transition-delay: .6s;
  -moz-transition-delay: .6s;
  -ms-transition-delay: .6s;
  -o-transition-delay: .6s;
}

.white .social ul li:nth-child(3), .white .portfolio_filter ul>li:nth-child(3){
  opacity: 1;
  transition-delay: .7s;
  -webkit-transition-delay: .7s;
  -moz-transition-delay: .7s;
  -ms-transition-delay: .7s;
  -o-transition-delay: .7s;
}

.white .social ul li:nth-child(4), .white .portfolio_filter ul>li:nth-child(4){
  opacity: 1;
  transition-delay: .8s;
  -webkit-transition-delay: .8s;
  -moz-transition-delay: .8s;
  -ms-transition-delay: .8s;
  -o-transition-delay: .8s;
}

.white .social ul li:nth-child(5), .white .portfolio_filter ul>li:nth-child(5){
  opacity: 1;
  transition-delay: .9s;
  -webkit-transition-delay: .9s;
  -moz-transition-delay: .9s;
  -ms-transition-delay: .9s;
  -o-transition-delay: .9s;
}

.white .social ul li:nth-child(6), .white .portfolio_filter ul>li:nth-child(6){
  opacity: 1;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -ms-transition-delay: 1s;
  -o-transition-delay: 1s;
}

.sc-ic {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 5px 10px 0 0;
  border-radius: 100%;
  font-size: 22px;
  line-height: 39px;
  background-color: #fff;
  color: #010101;
  text-align: center;
}

.sc-text{
  vertical-align: top;
  line-height: 48px;
}

.white .uptotop{
  opacity: 1;
  transform: rotate(180deg) translate(0px, 0px);
  -webkit-transform: rotate(180deg) translate(0px, 0px);
  -moz-transform: rotate(180deg) translate(0px, 0px);
  -ms-transform: rotate(180deg) translate(0px, 0px);
  -o-transform: rotate(180deg) translate(0px, 0px);
  transition: all ease .3s .5s;
  -webkit-transition: all ease .3s .5s;
  -moz-transition: all ease .3s .5s;
  -ms-transition: all ease .3s .5s;
  -o-transition: all ease .3s .5s;
}

.say-hello{
    position: fixed;
    bottom:20px;
    left: 50px;
    transform-origin: top left;
    transform: rotate(-90deg) translate(0px, -30px);
    -webkit-transform: rotate(-90deg) translate(0px, -30px);
    -moz-transform: rotate(-90deg) translate(0px, -30px);
    -ms-transform: rotate(-90deg) translate(0px, -30px);
    -o-transform: rotate(-90deg) translate(0px, -30px);
    opacity: 0;
    z-index: 11;
}

.say-hello.stp{
  bottom:50px;
}

.white .say-hello{
  opacity: 1;
  transform: rotate(-90deg) translate(0px, 0px);
  -webkit-transform: rotate(-90deg) translate(0px, 0px);
  -moz-transform: rotate(-90deg) translate(0px, 0px);
  -ms-transform: rotate(-90deg) translate(0px, 0px);
  -o-transform: rotate(-90deg) translate(0px, 0px);
  transition: all ease .3s .5s;
  -webkit-transition: all ease .3s .5s;
  -moz-transition: all ease .3s .5s;
  -ms-transition: all ease .3s .5s;
  -o-transition: all ease .3s .5s;
}

.say-hello a{
  color: #000;
  font-weight: 600;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.darkness .say-hello a{
  color:#fff;
}

.link-subtitle{
  color: #000;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
}

.link-title{
  font-size: 70px;
  color: #000;
  font-weight: 900;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.darkness .link-title, .darkness .link-subtitle{
  color: #fff;
}

.next-content{
  display: inline-block;
}

.next-content:hover .link-title{
  letter-spacing: 3px;
}


.say-hello:hover a{
  opacity: .5;
}


.uptotop.stp{
  bottom: 90px;
}


.outter{
  height: 100%;
  width: 100%;
}

.hero .outter{
	position: relative;
	z-index: 9;
}

.hero-title{
  color: #fff;
  font-size: 60px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: -1px;
  line-height: 65px;
}

.subhero-title{
  font-size: 85px;
  color: #fff;
  font-weight: 900;
}

.darkness .subhero-title{
  color: #000;
}

.white .subhero-title{
  color: #fff;
}

.darkness.white .subhero-title{
  color:#fff;
}

.white .hero-content span.little{
  color: #fff;
}


.darkness.white .hero-content span.little{
  color: #fff;
}

.white .hero-content span.little i {
    font-size: 45px;
	display: block;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 10px;
}

.hero-text{
  font-weight: 600;
  font-style: normal;
  color: #fff;
  font-size: 24px;
  line-height: 34px;
  margin-top: 15px;
}

.white .hero-title{
  color: #000000;
}

.white .hero-text{
  color: #000000;
}

.white .hero-image{
  opacity: 0;
}

.arrow-left {
  height: 10px;
  background-color: #fff;
  transform: rotate(-45deg);
  width: 2px;
  position: absolute;
  left: 19px;
  top: 22px;
  -webkit-transition: top 0.2s ease-in-out 0s, left 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
  transition: top 0.2s ease-in-out 0s, left 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
}

.arrow-right {
  height: 10px;
  background-color: #fff;
  transform: rotate(45deg);
  width: 2px;
  position: absolute;
  left: 25px;
  top: 22px;
  -webkit-transition: top 0.2s ease-in-out 0s, left 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
  transition: top 0.2s ease-in-out 0s, left 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
}

.arrow-top-line {
  background-color: #fff;
  height: 16px;
  left: 50%;
  margin-left: -1px;
  position: absolute;
  top: 14px;
  width: 2px;
}

/* Nav Icon */

.hamburger { 
    float: right;
    margin-top: 4px;
    margin-right: 15px;
    background: white;
    padding: 14px 8px;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    align-items: center;
    align-content: center;
    text-align: center; 
}

.nav-icon {
  float: right;
  width: 32px;
  height: 18px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.darkness header.black .nav-icon span{
  background: #000;
}

.darkness .whitev.drk .nav-icon span {
  background: #000;
}


.nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

header.black .nav-icon span{
  background: #000;
}

header.black .nav-icon:hover span{
  background: #3F51B5;
}

.darkness header.black .nav-icon span{
  background: #fff;
}

.nav-icon:hover span:nth-child(3), .nav-icon:hover span:nth-child(1){
  width: 100%;
}

.nav-icon span:nth-child(1) {
top: 0px;
right: 0;
width: 80%;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.nav-icon span:nth-child(2) {
top: 7px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.nav-icon span:nth-child(3) {
top: 14px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;    
width: 60%;
right: 0 !important;
}

.full-menu{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 100;
  visibility: hidden;
      background-color: rgb(255 255 255 / 39%);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
}

.full-menu .outter{
  height: 100vh;
  display: table;
}

.full-menu .inner {
    display: table-cell;
    vertical-align: middle;
}

.full-menu .site-menu li a{
  color: #fff;
  font-size: 44px;
  font-weight: 900;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  line-height: 1;
	padding: 10px 0;
    display: inline-block;
} 

.full-menu .site-menu li a.site-btn {
    color: #fff;
    font-size: 21px;
    margin-top: 25px;
    padding: 13px 65px 13px 28px;
    font-weight: 500;
    text-transform: capitalize;
}

.darkness .full-menu .site-menu li a{
  color:#fff;
}

.full-menu .site-menu li:hover a{
  letter-spacing: 4px;
  opacity: .5;
} 


.full-menu .left-content{
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

.darkness .full-menu .left-content{
  background: #1b1b1b;
}

.darkness .full-menu .right-content{
  background: #000;
}

.full-menu .right-content{
  background: #000000;
  padding: 0 60px;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  color:white;
}

.full-menu .right-content, .full-menu .left-content{
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}

.full-menu.active .left-content, .full-menu.active .right-content{
  visibility: visible;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.full-menu .right-content ul li{
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.full-menu .right-content ul{
  margin-bottom: 30px;
}

.full-menu .right-content ul li:first-child {
    color: #a4a4a4;
    font-weight: 400;
    font-size: 27px;
    line-height: 35px;
}

.darkness .full-menu .right-content ul li:first-child{
  opacity: .7;
}

.full-menu .right-content ul.social-links li:first-child{
  width: 100%;
}

.full-menu .right-content ul.social-links li{
  float: left;
  margin-right: 30px;
}

.full-menu .right-content ul li a{
  color: #fff;
}

.darkness .full-menu .right-content ul li a {
  color: #fff;
}

.darkness .full-menu .right-content ul li {
  color: #fff;
}

.full-menu .right-content ul li a:hover{
  opacity: .5;
  transition: opacity ease 0.3s;
  -webkit-transition: opacity ease 0.3s;
  -moz-transition: opacity ease 0.3s;
  -ms-transition: opacity ease 0.3s;
  -o-transition: opacity ease 0.3s;
}

.full-menu .logo{
  position: absolute;
  top:30px;
  left: 45px;
  background: #fff;
    padding: 15px;
	border: 1px solid #cecece;
}

.full-menu .close-icon{
  position: absolute;
  top: 40px;
  right: 64px;
  cursor: pointer;
  z-index: 1;
}

.full-menu .close-icon img{
  max-width: 16px;
  filter: invert(1);
  -webkit-filter: invert(1);
}

.filter-icon {
    cursor: pointer;
}


/*------------------------ Portfolio ------------------------*/   

.portfolio{
  padding-bottom: 60px;
  position: relative;
  z-index: 2;
}

.white .hero .video-wrapper{
  visibility: hidden;
}

.video-wrapper {
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: hidden;
}

.video-home .video-wrapper:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.30);
  z-index: 1;
  left: 0;
  top: 0;
}

.hero.overlay .hero-image:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.22);
  z-index: 100000;
  width: 100%;
  height: 100%;
}

.video-wrapper video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fluid-back{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
	background-image: url(fluid-back.svg);
}
.fluid-back-line{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
	background-image: url(fluid-line-back.svg);
	padding: 80px;
}

.fluid-back-white{ 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
	/*background-image: url(fluid-white-back.svg);*/
}

.radius-img-right{
	border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border: 1px solid #eee;
}

.fade-img {
  width: 300px; /* Example width */
  height: auto; /* Example height */
  margin: auto;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%, /* Transparent on the left */
    rgba(0, 0, 0, 1) 20%, /* Fully opaque at 20% */
    rgba(0, 0, 0, 1) 80%, /* Fully opaque at 80% */
    rgba(0, 0, 0, 0) 100%  /* Transparent on the right */
  );
  mask-size: 100% 100%; /* Match the mask to the image size */
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%, /* Transparent on the left */
    rgba(0, 0, 0, 1) 20%, /* Fully opaque at 20% */
    rgba(0, 0, 0, 1) 80%, /* Fully opaque at 80% */
    rgba(0, 0, 0, 0) 100%  /* Transparent on the right */
  );
  -webkit-mask-size: 100% 100%; /* Match the mask to the image size */
}

.fade-img img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.article-bottom-content {
    text-align: left;
}

.article-bottom-content ul {
    padding-left: 18px;
}

.article-bottom-content li {
    list-style: disc;
    font-weight: 600;
}

section.news-list article {
    border-bottom: 1px solid #ddd;
}

section.news-list article:last-child {
    border-bottom: 0;
}


.portfolio_filter{
  position: fixed;
  left: 51px;
  bottom: 0;
  height: 1.5em;
  margin: auto;
  bottom: 30px;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  z-index: 2;
}

.portfolio_filter{
  -ms-transform-origin: top left; /* IE9 */
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -ms-transform: rotate(-90deg); /* IE9 */
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.portfolio_filter ul li{
  float: left;
}

.portfolio_filter ul li a {
    color: #000;
    font-weight: 400;
    margin-right: 30px;
    background: white;
    font-size: 14px;
    padding: 3px 10px 6px 10px;
    border-radius: 27px;
}

.portfolio_filter ul li a:hover{
	color: #3F51B5;
}


.darkness .portfolio_filter ul li a{
  color: #fff;
}

.white{
  background: #fff;
  transition: all ease 0.3s 0.1s;
  -webkit-transition: all ease 0.3s 0.1s;
  -moz-transition: all ease 0.3s 0.1s;
  -ms-transition: all ease 0.3s 0.1s;
  -o-transition: all ease 0.3s 0.1s;
}

.white.darkness{
  background: #000;
}

.white .hero-image{
  opacity: 0;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.white .hero-title, .white .hero-text{
  color: #000;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.darkness.white .hero-title, .darkness.white .hero-text{
  color: #fff;
}

.hero .article-title, .hero .entry-data{
  z-index: 10;
  position: relative;
}

p{
  margin: 0;
}

footer{
  background: #F2F0F0;
  padding: 60px 0;
  width: 100%;
  font-weight: bold;
}

.darkness footer {
  background: #232323;
}

.darkness p{
  color: #fff;
}

.footer-info{
  text-align: right;
}


.background-light{
	background-color: #f5f5f5;
}

.background-primary{
	background-color: #3f51b5;
	color: white;
}

.background-primary a, .background-primary .contact-info span, .background-primary p, .background-primary .form-group .placeholder, .background-primary form .inp {
    color: white !important;
}

.background-primary form .inp{
    border-bottom: 1px solid #ffffff !important;
}

.background-primary form .form-group:after {
    background: #fff !important;
}

.white form textarea.inp {
    height: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}
	
/*------------------------ About ------------------------*/   

.section-title .title{
  font-size: 42px;
  font-weight: 800;
  margin-top:20px;
  line-height: 55px;
}

.home-banner .section-title .title{
	font-size: 35px;
	line-height: 40px;
	color: white;
}

.hero .section-title .title{
	color: white;
}

.darkness .section-title .title {
  color: #fff;
}

.flaticon{
  font-family: "Flaticon";
  font-style: normal;
}

.services .ser {
    text-align: center;
    padding: 60px;
    border: solid 5px #ffffff;
    background-image: url(decor-1.svg);
    background-position: -84px -55px;
    background-repeat: no-repeat;
    background-color: #3f51b5;
    color: white;
    border-radius: 35px;
}

.services .ser i{
  font-size: 110px;
}

.darkness .services .ser i{
  color: #fff;
}

.services .ser .title{
  font-size: 28px;
  font-weight: bold;
}

.darkness .services .ser .title{
  color: #fff;
}

.darkness .services .ser {
  border: solid 1px #404040;
}

.services .ser p{
  margin-top:10px;
  font-size: 22px;
  line-height: 32px;
}
.services .ser ul {
    margin-top: 20px;
}
.services .ser li {
    border-top: 1px dashed black;
    padding: 10px 0;
}

.services .ser li:last-child {
	border-bottom: 1px dashed black;
}

.darkness .clients .client{
  border-right: solid 1px #545454;
  border-bottom: solid 1px #545454;
}

.clients .client{
  text-align: center;
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff;
  padding:60px 30px;
  align-content: center;
  background: #dfdfdf;
}

.clients .client:first-child{
  border-left: 0px;
}

.clients .client:last-child, .clients .client:nth-child(4), .clients .client:nth-last-child(5), .clients .client:nth-last-child(9){
  border-right: 0px;
}

.clients .client img{
  width: 80%;
  height: 85px;
    object-fit: contain;
    mix-blend-mode: multiply;
}


.services .sercol{
  padding: 0;
}

form .form-group{
  width: 100%;
  position: relative;
  margin-bottom: 25px;
}

form .inp{
  display: block;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  letter-spacing: 0;
  width: 100%;
  font-weight: 300;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  height: 35px;
  background: transparent;
  outline: none;
  padding: 0 0 3px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.40);
}

.darkness form .inp{
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.white form .inp{
  color: #000;
  border-bottom: 1px solid #636363;
}

.darkness .white form .inp{
  color: #fff;
  border-bottom: 1px solid #dcdcdc;
}

.white form .form-group .placeholder{
  color: #000;
}

.darkness.white form .form-group .placeholder{
  color: #fff;
}

.darkness form .form-group .placeholder{
  color: #000;
}

form .form-group .placeholder {
  letter-spacing: 0;
  pointer-events: none;
  position: absolute;
  top: 4px;
  left: 0;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  letter-spacing: -.009em;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

form .form-group.in .placeholder, form .form-group.with-content .placeholder{
  opacity: .5;
  font-size: 14px;
  top: -13px;
}

.white form .form-group:after{
  background: #000;
}

.darkness.white form .form-group:after{
  background: #fff;
}

form .form-group:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: transform .3s ease-in-out;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
  -moz-transition: transform .3s ease-in-out;
  -ms-transition: transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
}

form .form-group.in:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.contact-info a{
  display: block;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  float: left;
  margin-right: 30px;
}

.darkness .contact-info a{
  color: #fff;
}

.contact-info a:hover{
  opacity: .5;
  transition: opacity ease 0.3s;
  -webkit-transition: opacity ease 0.3s;
  -moz-transition: opacity ease 0.3s;
  -ms-transition: opacity ease 0.3s;
  -o-transition: opacity ease 0.3s;
}

.contact-info p{
  display: block;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;
}

.darkness .contact-info p{
  color:#fff;
}

.contact-info span{
  display: block;
  color: #000;
  opacity: .5;
  font-size: 16px;
  margin-bottom: 15px;
}


.darkness .contact-info span{
  color: #fff;
}

.contact-info{
  margin-bottom: 60px;
  display: inline-block;
  width: 100%;
}

.contact-info:last-child {
    margin-bottom: 0;
}

.error-text {
    background: #ffffff;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
    color: #9d4040;
    text-align: left;
}


.form-response-message {
    font-size: 35px;
    padding: 15px;
    line-height: 38px;
    font-weight: 400;
    font-family: "Just Another Hand", cursive;
    font-optical-sizing: auto;
    font-style: normal;
	color: white;
}
.form-response-message.success{
	background: #0b6300;
}
.form-response-message.error{
	background: #9d4040;
}

.information{
  margin-top: 60px;
}

article .article-content p{
  line-height: 30px;
  font-size: 18px;
}

article .post-image img{
  width: 100%;
}

article .article-content .article-top{
  width: 100%;
  padding: 30px 0;
  display: inline-block;
}

.work-content .entry-data{
  float: none;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

.work-content .article-title{
  margin-bottom:0 !important;
  text-align: center !important;
  font-size: 85px !important;
}

.entry-data{
  float: left;
  margin:0;
}

.entry-data li{
  float: left;
}

blockquote {
  font-size: 30px;
  font-weight: bold;
}

.entry-data li a:before, article  .entry-date a:before{
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: 0;
  background: rgba(0,0,0,1);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .2s ease-out, opacity .2s ease-out 0.3s;
}

.darkness .entry-data li a:before{
  background: rgb(255, 255, 255);
}

.darkness .entry-data li a:after, .darkness article .entry-date a:after {
  width: 100%;
  height: 1px;
  position: absolute;
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
  left: 0;
  bottom: 0;
}

.darkness blockquote{
  color:#fff;
}

.darkness .entry-data li a, .darkness .entry-date a{
  color: #fff;
}

.entry-data li a:hover:before,  .entry-date a:Hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

.entry-data li a:after, article .entry-date a:after {
  width: 100%;
  height: 1px;
  position: absolute;
  content: "";
  background-color: rgba(0,0,0,0.2);
  left: 0;
  bottom: 0;
}

.hero .entry-data li a{
  color:#fff;
} 

.white .hero .entry-data li a{
  color: #000;
}

.white .hero .entry-data a:before {
  background:#000;
}

.white .hero .entry-data a:after {
  background-color: rgba(0, 0, 0, 0.3);
}

.hero .entry-data a:before{
  background: rgb(253, 253, 253);
}

.hero .entry-data a:after {
  background-color: rgba(255, 255, 255, 0.432);
}


.project-info .title{
  font-size: 34px;
  font-weight: 700;
  color: #000;
}

.darkness .project-info .title, .darkness .project-info p{
  color: #fff;
}

.project-info p{
  color: #000;
  margin-top: 20px;
}

.categories ul li{
color: #000;
list-style: none;
font-size: 15px; 
opacity: .8;
font-weight: 500;
}

.categories ul li.client {
  color: #000;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  opacity: 1;
}

.darkness .categories ul li, .darkness .categories ul li a{
  color:#fff;
}

.categories ul li a{ 
color: #000;
font-weight: 600;
margin-top: 15px;
display: inline-block;
opacity: 1;
text-decoration: none;
transition: all ease 0.3s;
-webkit-transition: all ease 0.3s;
-moz-transition: all ease 0.3s;
}


.subtext {
  font-size: 30px;
  font-weight: 700;
  color: #000;
  line-height: 48px;
}


.entry-data li a{
  color:#000;
  margin-right: 15px;
  font-weight: 600;
  position: relative;
}

.entry-date{
  float: right;
}

.entry-date a{
  color:#000;
  margin-right: 15px;
  font-weight: 600;
  position: relative;
}

.article-title{
  color: #000;
  font-weight: 400;
  font-size: 74px;
  margin-bottom: 15px;
  font-family: "Just Another Hand", cursive;
	font-optical-sizing: auto;
	font-style: normal;
	line-height: 1;
}

.darkness .article-title{
  color:#fff;
}

.hero .article-title{
  font-weight: 900;
  font-size: 70px;
  margin-bottom: 15px;
  text-align: left;
  color: #fff;
}

.white .hero .article-title{
  color: #000;
}

.article-content{
  margin-top: 90px;
  margin-bottom: 90px;
}

.article-meta{
  border-top: solid 1px #dfdfdf;
  border-bottom: solid 1px #dfdfdf;
  display: inline-block;
  width: 100%;
  padding: 60px 15px;
}

.darkness .article-meta{
  border-top: solid 1px #3a3a3a;
  border-bottom: solid 1px #3a3a3a;
}


.filter-icon img {
    height: 26px;
    width: 26px;
    object-fit: contain;
}

p.copy-right {
    background: #d3d3d3;
    padding: 5px 10px;
    width: auto;
    display: inline-block;
    font-size: 14px;
}

.copy-right img{
	height: 20px;
    margin-left: 3px;
}

.footer-logo{
	max-height: 60px;
	max-width: 100%;
	width: auto;
}


.review-box {
    transition: box-shadow 0.3s;
    color: #000000;
    padding: 35px;
    border-radius: 35px;
    height: 100%;
}

.review-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.owl-carousel{
    margin-left: auto;
}

.review-box .rating-icon {
    object-fit: cover;
    border-radius: 100px;
    border: 3px solid #d8d8d8;
    height: 60px;
    width: 60px;
}

.review-box .rating-auth p {
    line-height: 1;
    color: #3f51b5;
    font-size: 10px; 
    text-transform: uppercase;
    letter-spacing: 1px;
}

.client-photo img {
  border: 2px solid #0077b5; /* LinkedIn blue */
  object-fit: cover;
}

.review-content h6 {
  font-size: 21px;
}

.review-content .review-text {
    font-size: 16px;
    color: #8b8b8b;
    line-height: 1.4;
    display: block;
    font-style: italic;
}

.linkedin-link {
    font-size: 10px;
    color: #ffffff !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #3b3b3b;
    padding: 3px 6px;
    border-radius: 3px;
    margin-top: 15px;
    display: inline-block;
}

.linkedin-link i {
  margin-right: 4px;
}

.linkedin-link:hover {
  text-decoration: underline;
}

.handwriting-text{
	 font-family: "Just Another Hand", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 45px;
    line-height: 1;
	    color: #3f51b5;
}

.founder-msg .authorbox{
	max-width: 400px;
    margin-left: auto;
    margin-top: 50px;
}

.founder-msg .authorbox .col-3{
	width: 100px;
    max-width: 110px;
    align-items: center;
    align-content: center;
}

.founder-msg .authorbox p{
	font-weight: 600;
    font-size: 14px;
}

.founder-msg .authorbox .col-3 img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

.site-btn[disabled] {
    background: #616161 !important;
    cursor: wait;
}


.element {
    width: 210px;
    display: inline-block;
    background: #eee;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 80%;
    font-weight: 900;
    margin-top: 10px;
    height: 34px;
    font-style: italic;
    -webkit-font-smoothing: auto;
}

.typed-cursor {
    display: none;
}

.banner-btns{
	display: flex;
}

.banner-btns .site-btn{
	margin-right: 15px;
}

.top-request-quote{
	margin-top: 5px;
	float: right;
}

.review-content .row .col-sm-5.text-center.text-sm-left.align-middle {
    align-items: end;
    align-content: end;
}


.white .hero{
	padding-bottom: 60px;
}

.ser-plugin{
	margin-bottom: 30px;
}

.ser-plugin .inner-content{
	padding: 30px;
	color: white;
    background: #3f51b5;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.ser-plugin .inner-content h3{
	font-size: 28px;
    font-weight: bold;
}

.ser-plugin img {
    height: 250px;
    width: 100%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
	border: 1px solid #a5a5a5;
    border-bottom: 0;
}

.ser-plugin .inner-content .inner-content-text{
	min-height: 174px;
}
	
.contact{
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 400px;
}	

.about-hero{
	align-content: end;
}

.home-banner form.contact-form {
    padding: 5px 20px 0;
    background: #fff;
    border-radius: 30px; 
    text-align: center;
}

.banner-contact {
    font-weight: 600;
}

.home-banner .hero-title, .home-banner .hero-text {
    color: white;
}

.banner-contact a {
    color: white;
}

.hero .contact-form .section-title .title{
	    color: #000000;
}

.hero .contact-form .section-title {
    color: black;
}

.icon {
    width: 44px;
    height: 44px;
    background-size: 25px !important;
    background-position: center !important;
    display: block;
    background-repeat: no-repeat !important;
}

.icon-mail{ background: url(icons/mail.png); }
.icon-phone{ background: url(icons/telephone.png); }
.icon-whatsapp{ background: url(icons/whatsapp.png); }
.icon-linkedin{ background: url(icons/linkedin.png); }
.icon-instagram{ background: url(icons/instagram.png); }

form .site-btn {
    width: 100%;
}

/*------------------------ Responsive ------------------------*/   



@media only screen and (max-width: 1096px) {
  
  .hero{
	  padding-top: 150px;
	}
    
}

@media only screen and (max-width: 777px) {

	.article-content{
	  margin-top: 40px;
	  margin-bottom: 40px;
	}
	
	.fluid-back-line{
		    padding: 30px;
	}
      
}

/* 1366 x 768 Classic Monitor */

@media screen and (width: 1366px) and (height:768px) {
  .container {
    width: 86%;
    margin-left: 7%;
}

  header {
    padding: 25px;
  }

  .portfolio_filter {
    left: 37px;
  }

  .uptotop{
    right: 35px;
  }

  .social {
    right: 30px;
  }


.hero-text {
  font-size: 22px;
  line-height: 30px;
}

.subhero-title {
  font-size: 68px;
}

.services .ser i {
  font-size: 90px;
}

.services .ser .title {
  font-size: 25px;
}

.services .ser p {
  font-size: 19px;
  line-height: 28px;
}

}


@media only screen and (min-width: 1401px) {

  .container {
      width: 86%;
      margin-left: 7%;
  }

} /* 1401px mediaget end */

@media only screen and (min-width: 1025px) {
	
.social ul {
    background: white;
    padding: 5px 0;
    border-radius: 35px;
}

  .portfolio{
    min-height: 110vh;
  }
  
  .banner-contact ul {
		display: inline-flex;
		gap: 15px;
	}
 

} /* 1025px mediaget end */


/* Max 1024px  */
@media only screen and (max-width: 1024px) {
	
	#particles-js, div#code-js{
		background-color: rgb(0 0 0 / 22%);
	}
	.social.fix{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		display: block;
		top: unset;
		padding: 0;
		margin: 0;
		right: unset;
		background: rgb(255 255 255 / 7%);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px); 
		z-index: 99999999;
		box-shadow: 0 0 5px #595959;
	}
	
	.social.fix ul{
		display: flex;
		margin: 0;
        padding: 0;
	}
	
	.social.fix ul li{
		flex: 1; 
		border-right: 1px solid hsl(0deg 0% 80% / 12%);
		box-sizing: border-box;
	}
	
	.social.fix ul li:last-child{
		border-right: none;
	}
	
	.social.fix ul li a{
		display: block;
		width: 100%;
	}

.section-title .title br{
  display: none;
}

.clients .client img {
  width: 100%;
}

.link-title {
  font-size: 60px;
}

.subhero-title {
  font-size: 70px;
}

.say-hello.stp {
  opacity: 0;
  transform: rotate(-90deg) translate(0px, -30px);
  -webkit-transform: rotate(-90deg) translate(0px, -30px);
  -moz-transform: rotate(-90deg) translate(0px, -30px);
  -ms-transform: rotate(-90deg) translate(0px, -30px);
  -o-transform: rotate(-90deg) translate(0px, -30px);
}

  .portfolio_filter{
	display: none;
}
  

  .filter-icon {
    background: #fff;
    padding: 7px 7px;
    display: inline !important;
    left: 5px;
    position: fixed;
    z-index: 100;
    bottom: 5px;
    opacity: 0;
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
}

.white .filter-icon{
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
	background: #3F51B5;
	box-shadow: 0 0 3px #313131;
	border-radius: 100px;
	height: 58px;
	width: 58px;
	display: flex;
	align-items: center;
	align-content: center;
	text-align: center;
}

.zendex{
  z-index: 10;
}


.hero-text {
  font-size: 20px;
  line-height: 30px;
}


.hamburger {
  padding: 8px;
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
}

/* header.black .logo, .hamburger, .uptotop{
  box-shadow: 1px 1px 31px 1px rgba(0, 0, 0, 0.14);
} */

header.black{
  z-index: 3;    
}

header.black .logo{
  padding: 9px 10px 9px 10px;
}

.uptotop{
  z-index: 12;
    background: #fff;
    padding: 10px 12px 2px 11px;
}

.grid-item {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.portfolio-item{
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.item-rotate{
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}



.site-menu{
  padding-left: 30px;
}


} /* Max 1024px mediaget end */



/* Max 768px  */
@media only screen and (max-width: 768px) {

header.black .logo img{
	height: 45px;
    width: 45px;
}

.subhero-title {
    font-size: 50px;
}

.team{
  margin-bottom: 30px;
}
.clients .client{
	padding: 20px 15px;
}

.article-title {
  font-size: 50px;
}

.hero .article-title{
  font-size: 50px;
}

.link-title {
  font-size: 50px;
}

  .portfolio-item.video .image {
    visibility: visible !important;
}

  .hero-text {
    font-size: 18px;
    line-height: 23px;
  }

  .portfolio-item figcaption .title {
    font-size: 17px;
}

.portfolio-item figcaption span {
  font-size: 11px;
  line-height: 25px;
}

.full-menu .right-content {
  padding: 0 40px;
}

.full-menu .site-menu li a {
  font-size: 38px;
}

.hero:not(.home-banner) .section-title .title {
    border-top: 3px solid #000000;
    padding-top: 15px;
    font-size: 25px;
    line-height: 29px;
}

}/* Max 768px mediaget end */

@media only screen and (max-width: 575px) {
	
	.review-box .rating-icon{
		object-position: center;
		margin-bottom: 15px;
	}
	
	.clients .client img{
	  height: 55px;
	}
	
	.handwriting-text{
		font-size: 33px;
	}
	.services .ser{
		padding: 25px 25px 35px 25px;
		background-size: 60px;
		background-position: -33px -4px;
	}
	
	.services .ser i {
		font-size: 90px;
	}
	
	.padding_120 {
		padding: 60px 0;
	}
	
	.bottom_90 {
		margin-bottom: 60px;
	}
	
	.fluid-back-line{
		    padding: 20px;
	}
	
	.radius-img-right {
		border-top-right-radius: 30px;
		border-bottom-left-radius: 30px;
		border-top-left-radius: 30px;
	}
	
	.hero {
        padding-top: 100px;
    }
	
	.full-menu .site-menu li a {
        font-size: 26px;
    }
	.full-menu .site-menu li a.site-btn{
		font-size: 17px;
		padding: 13px 53px 13px 20px;
	}
	
	.full-menu .site-menu li a.site-btn::after{
		width: 39px;
		height: 39px;
	}
	
	

}

/* Max 500px  */
@media only screen and (max-width: 500px) {

.white .hero {
    padding-bottom: 20px;
}
.fluid-back-line {
    background: unset;
}
.hamburger {
	height: 44px;  
}
.top-request-quote {
    padding: 12px 54px 11px 20px;
    min-width: 130px;
	    margin-top: 0;
}

.top-request-quote.site-btn::after{
	    width: 40px;
    height: 40px;
}
.hero-title {
	font-size: 40px;
    line-height: 45px;
}

footer{
  text-align: center;
}

.footer-info{
  text-align: center;
}

header{
  padding: 20px;
}

.uptotop{
  bottom: 15px;
  right: 15px;
}

.filter-icon{
  bottom: 15px;
  left: 15px;
}

header.black {
  padding: 15px;
}

.full-menu .close-icon {
  position: absolute;
  top: 31px;
  right: 44px;
  cursor: pointer;
  display: block !important;
}

.site-menu{
  padding-left: 30px;
}

.right-content{
  display: none;
}

.portfolio_filter ul li a {
  font-size: 20px;
  line-height: 40px;
}

.footer-info {
  color: #000;
}

.subhero-title {
  font-size: 30px;
}

.section-title .title {
  font-size: 32px;
  line-height: 43px;
}

.hero .section-title .title {
    font-size: 23px;
    line-height: 30px;
}

.say-hello {
  bottom: 0px;
  left: 30px;
}

.services .ser .title {
  font-size: 23px;
}

.services .ser p {
  font-size: 17px;
  line-height: 28px;
}


.hero .article-title {
  font-size: 30px;
}

.open-search {
  left: 15px;
  bottom: 10px;
}

.link-title {
  font-size: 30px;
}

form {
  padding: 0;
}

.work-content .article-title {
  font-size: 45px !important;
}

.banner-btns{
	display: block;
}

.banner-request-q-btn{
	display: none;
}


.banner-btns .site-btn{
	margin: 0;
}

} /* Max 500px end */

@media only screen and (max-width: 368px) {
	
	.top-request-quote {
        margin-top: 3px;
        zoom: .85;
		padding: 12px 47px 10px 15px;
    }
	
}

@media screen and (min-device-width: 1366px) 
           and (max-device-height: 1024px) 
           and (orientation: landscape) {
            .container {
              width: 85%;
              margin-left: 7.5%;
          }

          .subhero-title {
            font-size: 78px;
        }


           }



/* vertical devices */

@media screen and (min-device-width: 812px) 
           and (max-device-height: 375px) 
           and (orientation: landscape) {

  .hero-title {
    font-size: 40px;
    line-height: 40px;
}

.portfolio {
  margin-top: -40px;
}

header {
  padding: 25px;
}

.hero .down-arrow {
  margin: 15px 0 0 9px;
}

.filter-icon{
  left: 25px;
  bottom: 25px;
}

.uptotop{
  right: 25px;
  bottom: 25px;
}

}


@media screen and (min-device-width: 568px) 
           and (max-device-height: 320px) 
           and (orientation: landscape) {

            .hero-title {
              font-size: 30px;
              line-height: 30px;
          }
          
          .portfolio {
            margin-top: -40px;
          }
          
          header {
            padding: 15px;
          }
          
          .hero .down-arrow {
            margin: 15px 0 0 9px;
          }
          
          .filter-icon{
            left: 15px;
            bottom: 15px;
          }
          
          .uptotop{
            right: 15px;
            bottom: 15px;
          }


           }
		   
@media screen and (max-width: 1300px) {
	
	.portfolio_filter{
		left: 5px;
	}
	.social{
		right: 5px;
	}
	
}		   